@tailwind base;
@tailwind components;
@tailwind utilities;
<style>
/* Scrollbar untuk container custom-scroll */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #00537A; /* Warna background track */
    border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #FFD700; /* Gold */
    border-radius: 8px;
    border: 2px solid #00537A; /* Memberi padding effect */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #FFC300; /* Gold sedikit lebih terang saat hover */
}

/* Firefox */
.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #FFD700 #00537A;
}
</style>
